body {
  background: #2d3436;
  color: #ff7675;
  font-family: "Righteous", cursive;
}

.one {
  text-align: center;
}
.one h1 {
  font-family: "Righteous", cursive;
  position: relative;
  color: #ff7675;
  display: inline-block;
  border-top: 2px solid;
  border-bottom: 2px solid;
  font-size: 3em;
  line-height: 1;
}

.task-list {
  padding: 0;
  list-style: none;
}

.task-item {
  position: relative;
  padding: 10px 30px;
  background: white;
  border: 2px solid #ff7675;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  text-align: center;
  background-size: 100% 100%;
  z-index: 1;
}

.task-item.done {
  background-color: lightgreen;
}

.delete-btn {
  color: red;
  font-family: "Righteous", cursive;
}

input.errorInput,
input:focus.errorInput {
  border-color: red;
}

.error {
  color: red;
}

.hidden {
  display: none;
}
